:root {
    --yellow: yellow;
    --green: green;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
	font-size: 0.88rem !important;
}


.btn{
    padding: 3px 10px !important;
}



.modal-header .close,
.modal-header .mailbox-attachment-close {
    border-radius: 5px;
}


.select2-container .select2-selection--single{
    height: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 22px !important;
}

/* Input Number Remove Arrows/Spinners*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-sm{
	font-size: .79rem !important;
	line-height: 1.2 !important;
}


fieldset {
    border: 2px solid #007bff96 !important;
    margin: 0 !important;
    xmin-width: 0 !important;
    padding: 3px !important;
    position: relative !important;
    border-radius:4px !important;
    background-color:#f5f5f5 !important;
    padding-left:10px !important;
    margin-bottom: 7px !important;
}

legend{
    font-size:18px !important;
    font-weight:bold !important;
    margin-bottom: 0px !important;
    width: 50% !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    padding: 1px 1px 1px 10px !important;
    background-color: #cceed6  !important;
}

label {
	margin-bottom: .1rem;
}

.form-group {
	margin-bottom: .2rem;
}

.card-body {
	padding: .25rem;
}

.table {
	margin-bottom: .1rem;
}

.table td, .table th {
	padding: .2rem;
}

.modal-header .close, .modal-header .mailbox-attachment-close {
	padding: .8rem !important;
	margin: -.5rem -.5rem -.5rem auto !important;
}

.close, .mailbox-attachment-close {
	line-height: .5 !important;
}

.modal-header {
	padding: .5rem !important;
}


.modal-title {
	line-height: 1 !important;
}

.modal-footer {
	padding: .3rem !important;
}

.small-box {
    height: 100px;
    width: 70%;
    margin: 0 auto 20px auto;
    text-align: center;
}

.amount_area .small-box {
    width: 100%;
}

.admin_client_info .small-box {
    width: 100%;
}

.admin_ecourier_parcel_info .small-box {
    width: 100%;
}

.admin_traditional_parcel_info .small-box {
    width: 100%;
}

.small-box>.inner {
    height: 73px;
}

.small-box h3 {
    font-size: 1.5rem !important;
    margin: 0 0 0 0;
}

.small-box p {
    font-size: 1rem;
    margin-bottom: 0;
}


.sidebar .user-panel {
    padding-bottom: 0.5rem!important;
    padding-top: 0.5rem;
    background: #F4F6F9;
    border-bottom: 2px solid #32a3b5;
}

.sidebar .user-panel .info a {
    color: black;
    font-size: 18px;
}

.sidebar .btn-add-parcel {
    color: #ffffff;
    background-color: #225a83;
    border-color: #17A2B8;
    box-shadow: none;
}

.sidebar .btn-add-parcel:hover {
    color: #ffffff;
    background-color: #17A2B8;
    border-color: #225a83;
    box-shadow: none;
}

code{
    font-size: 18px !important;
}

/*@media screen and (max-width: 992px) {*/

table#yajraDatatable {
    width: auto !important;
}

/*}*/


/** For Pickup Rider Run Generate */
.merchantSelect {

}

.merchantSelect .select2-container{
    font-size: 20px;
    box-shadow: 0 0 5px rgb(62 196 118);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(62, 196, 118);
    border-radius: 4px;
}

.merchantSelect .select2-container--default .select2-selection--single {
    border: 0;
}

.merchantSelect .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px;
}
